@import url("styles/topicos.css");

:root {
    --cor-de-fundo:#EBECEE;
    --branco:white;
    --laranja:#EB9B00;
    --fonte-principal:"Montserrat";
    --azul:#002F52;
    --preto:black;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}